{% extends 'first_app/base.html' %}
{% block body %}
<div class="container container mt-4 mb-5">
    <hr class="bg-dark mb-4 w-25">

    <h1 class="display-4 text-center">This is users page</h1>
    {% if user %}
    <table class="table">
        <thead class="table-primary">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </thead>
            {% for us in user %}

        <tbody>
            <tr class="table-success">
                <td>{{ us.first_name }}</td>
                <td>{{ us.last_name }}</td>
                <td>{{ us.email }}</td>

            </tr>

        </tbody>
            {% endfor %}
    </table>
        {% else %}
        <p>No results found</p>
        {% endif %}

</div>
{% endblock %}