{% extends 'first_app/base.html' %}
{% block body %}


<body>

<div class="container container mt-4 mb-5">
    <hr class="bg-dark mb-4 w-25">
    {% if sent %}
        <h2 class="display-4 text-center">Thank You For Registering</h2>
    {% else %}
  <h2 class="display-4 text-center">Contact</h2>
  <form class="form-horizontal" method="post">
    {{ form.as_p }}
      {% csrf_token %}
      <input type="submit" class="btn btn-primary" name="submit" value="Submit">
  </form>
    {% endif %}
</div>



{% endblock %}